<button (click)="downloadPDF()">Export To PDF</button>
<div id="title" #title>
  <h1 style="text-align: center;">REPORT!</h1>
</div>
<table id="table42" style="display:none">
  <tbody>
    <tr>
      <th colspan="2">Safety</th>
    </tr>
    <tr>
      <th colspan="2" style="text-align: left;">Inspection</th>
    </tr>
    <tr>
      <th>Question</th>
      <th class="isCore">Is Core</th>
    </tr>
    <tr>
      <td>
        Quarterly low hazard inspections are documented and hazards are posted
        to the hazard tracking log Quarterly low hazard inspections are
        documented and hazards are posted to the hazard tracking log Quarterly
        low hazard inspections are documented and hazards are posted to the
        hazard tracking log Quarterly low hazard inspections are documented and
        hazards are posted to the hazard tracking log
      </td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>

<table id="tableDatos" style="display:none">
  <tbody>
    <tr>
      <th colspan="4" style="text-align: left;">I. DATOS DEL DETENIDO</th>
    </tr>
    <tr class="tableHead">
      <th style="text-align: center;">APELLIDO PATERNO</th>
      <th style="text-align: center;">APELLIDO MATERNO</th>
      <th style="text-align: center;">NOMBRES</th>
      <th style="text-align: center;">Doc. Identidad</th>
    </tr>
    <tr class="tableBody">
      <th style="text-align: center;">APELLIDO PATERNO</th>
      <th style="text-align: center;">APELLIDO MATERNO</th>
      <th style="text-align: center;">NOMBRES</th>
      <th style="text-align: center;">Doc. Identidad</th>
    </tr>
    <tr class="tableHead">
      <th colspan="3" style="text-align: center;">
        DIFERENTES NOMBRES Y/O ALIAS
      </th>
      <th style="text-align: center;">Grado Instrucción/PROF</th>
    </tr>
    <tr class="tableBody">
      <th colspan="3" style="text-align: center;">
        DIFERENTES NOMBRES Y/O ALIAS
      </th>
      <th style="text-align: center;">Grado Instrucción/PROF</th>
    </tr>
    <tr class="tableHead">
      <th style="text-align: center;">Sexo</th>
      <th style="text-align: center;">echa Nacimiento</th>
      <th style="text-align: center;">Edad</th>
      <th style="text-align: center;">
        Lugar de Nacimiento: Departamento - Provincia - Distrito País
      </th>
      <th>País</th>
    </tr>

    <tr>
      <th>Question</th>
      <th class="isCore">Is Core</th>
    </tr>
  </tbody>
</table>

<table id="table42" style="display:none">
  <tbody>
    <tr>
      <th colspan="2">Safety</th>
    </tr>
    <tr>
      <th colspan="2" style="text-align: left;">Inspection</th>
    </tr>
    <tr>
      <th>Question</th>
      <th class="isCore">Is Core</th>
    </tr>
    <tr>
      <td>
        Quarterly low hazard inspections are documented and hazards are posted
        to the hazard tracking log Quarterly low hazard inspections are
        documented and hazards are posted to the hazard tracking log Quarterly
        low hazard inspections are documented and hazards are posted to the
        hazard tracking log Quarterly low hazard inspections are documented and
        hazards are posted to the hazard tracking log
      </td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
<table id="table42" style="display:none">
  <tbody>
    <tr>
      <th colspan="2">Safety</th>
    </tr>
    <tr>
      <th colspan="2" style="text-align: left;">Inspection</th>
    </tr>
    <tr>
      <th>Question</th>
      <th class="isCore">Is Core</th>
    </tr>
    <tr>
      <td>
        Quarterly low hazard inspections are documented and hazards are posted
        to the hazard tracking log Quarterly low hazard inspections are
        documented and hazards are posted to the hazard tracking log Quarterly
        low hazard inspections are documented and hazards are posted to the
        hazard tracking log Quarterly low hazard inspections are documented and
        hazards are posted to the hazard tracking log
      </td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
<table id="table42" style="display:none">
  <tbody>
    <tr>
      <th colspan="2">Safety</th>
    </tr>
    <tr>
      <th colspan="2" style="text-align: left;">Inspection</th>
    </tr>
    <tr>
      <th>Question</th>
      <th class="isCore">Is Core</th>
    </tr>
    <tr>
      <td>
        Quarterly low hazard inspections are documented and hazards are posted
        to the hazard tracking log Quarterly low hazard inspections are
        documented and hazards are posted to the hazard tracking log Quarterly
        low hazard inspections are documented and hazards are posted to the
        hazard tracking log Quarterly low hazard inspections are documented and
        hazards are posted to the hazard tracking log
      </td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
<table id="table42" style="display:none">
  <tbody>
    <tr>
      <th colspan="2">Safety</th>
    </tr>
    <tr>
      <th colspan="2" style="text-align: left;">Inspection</th>
    </tr>
    <tr>
      <th>Question</th>
      <th class="isCore">Is Core</th>
    </tr>
    <tr>
      <td>
        Quarterly low hazard inspections are documented and hazards are posted
        to the hazard tracking log Quarterly low hazard inspections are
        documented and hazards are posted to the hazard tracking log Quarterly
        low hazard inspections are documented and hazards are posted to the
        hazard tracking log Quarterly low hazard inspections are documented and
        hazards are posted to the hazard tracking log
      </td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
<table id="table42" style="display:none">
  <tbody>
    <tr>
      <th colspan="2">Safety</th>
    </tr>
    <tr>
      <th colspan="2" style="text-align: left;">Inspection</th>
    </tr>
    <tr>
      <th>Question</th>
      <th class="isCore">Is Core</th>
    </tr>
    <tr>
      <td>
        Quarterly low hazard inspections are documented and hazards are posted
        to the hazard tracking log Quarterly low hazard inspections are
        documented and hazards are posted to the hazard tracking log Quarterly
        low hazard inspections are documented and hazards are posted to the
        hazard tracking log Quarterly low hazard inspections are documented and
        hazards are posted to the hazard tracking log
      </td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
<table id="table42" style="display:none">
  <tbody>
    <tr>
      <th colspan="2">Safety</th>
    </tr>
    <tr>
      <th colspan="2" style="text-align: left;">Inspection</th>
    </tr>
    <tr>
      <th>Question</th>
      <th class="isCore">Is Core</th>
    </tr>
    <tr>
      <td>
        Quarterly low hazard inspections are documented and hazards are posted
        to the hazard tracking log Quarterly low hazard inspections are
        documented and hazards are posted to the hazard tracking log Quarterly
        low hazard inspections are documented and hazards are posted to the
        hazard tracking log Quarterly low hazard inspections are documented and
        hazards are posted to the hazard tracking log
      </td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
<table id="table42" style="display:none">
  <tbody>
    <tr>
      <th colspan="2">Safety</th>
    </tr>
    <tr>
      <th colspan="2" style="text-align: left;">Inspection</th>
    </tr>
    <tr>
      <th>Question</th>
      <th class="isCore">Is Core</th>
    </tr>
    <tr>
      <td>
        Quarterly low hazard inspections are documented and hazards are posted
        to the hazard tracking log Quarterly low hazard inspections are
        documented and hazards are posted to the hazard tracking log Quarterly
        low hazard inspections are documented and hazards are posted to the
        hazard tracking log Quarterly low hazard inspections are documented and
        hazards are posted to the hazard tracking log
      </td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>

<iframe id="ivebeenframed" style="width:90vw;height:75vh;"> </iframe>
