.isCore {
  color: red;
  background-color: #bada55;
}

td:nth-child(2) {
  background-color: #bef5f2;
  border: 1px solid red;
  width: 20%;
}

#table42 td {
  padding: 1em;
}

table {
  border-collapse: collapse;
  font-size: 12px;
}

table.dataTable th,
table.dataTable td {
  border: 1px solid;
  text-align: center;
}

tr.tableHead {
  background-color: #aaa8a8;
}

tr.tableBody {
  background-color: #ffffff;
}
